/* Adjust the widths of input fields */
.custom-select {
    width: 250px; /* Wider for select fields */
    margin: 0 auto;
}

#phone {
    width: 210px; /* Wider for phone number field */
    text-align: center; 
}

#zipCode {
    width: 110px;
    text-align: center;
}

/* Enhance the title appearance */
h3 {
    font-size: 2.5rem;
    /* Removed text-shadow */
}

/* Add some spacing and a subtle border to the image */
.card-registration img {
    margin: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* Removed box-shadow */
}

::placeholder {
    color: grey;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: grey;
    opacity: 0.5;
}

::-ms-input-placeholder {
    color: grey;
    opacity: 0.5;
}

.error-input {
    border: 1px solid red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}
